## Getting started with Python for Data Analysis

In [4]:

# === STEP 1: Import all necessary libraries ===
print("ðŸš€ Setting up our data analysis environment...")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
print("âœ… All libraries imported successfully!")

ðŸš€ Setting up our data analysis environment...
âœ… All libraries imported successfully!

In [5]:
# === STEP 2: Test that everything works ===
print(f"ðŸ“Š Pandas version: {pd.__version__}")
print(f"ðŸ”¢ Numpy version: {np.__version__}")
print("ðŸŽ¨ Matplotlib and Seaborn are ready for visualization!")

ðŸ“Š Pandas version: 2.3.0
ðŸ”¢ Numpy version: 2.3.1
ðŸŽ¨ Matplotlib and Seaborn are ready for visualization!

In [6]:
# === STEP 3: Create a simple example ===
# Let's create some sample data to prove everything works
sample_data = {
'Product': ['Apples', 'Bananas', 'Oranges', 'Bread', 'Milk'],
'Sales': [150, 200, 120, 300, 250],
'Profit': [45, 80, 36, 90, 75]
}
# Convert to a pandas DataFrame (think of it as a smart table)
df = pd.DataFrame(sample_data)
print("\nðŸ“‹ Sample supermarket data:")
print(df)
print("\nðŸŽ‰ Everything is working! You're ready to analyze data!")

ðŸ“‹ Sample supermarket data:
   Product  Sales  Profit
0   Apples    150      45
1  Bananas    200      80
2  Oranges    120      36
3    Bread    300      90
4     Milk    250      75

ðŸŽ‰ Everything is working! You're ready to analyze data!

In [9]:
sample_data={
    'name':['john wick','mary', 'deng', 'achan', 'bol'],
    'age':[35,45,24,19,18],
    'book_authored':[3,10,2,14,8]
}
df=pd.DataFrame(sample_data)
print("\n sample_data:")
print(df)

 sample_data:
        name  age  book_authored
0  john wick   35              3
1       mary   45             10
2       deng   24              2
3      achan   19             14
4        bol   18              8

In [10]:
df.head(3)

        name  age  book_authored
0  john wick   35              3
1       mary   45             10
2       deng   24              2

In [11]:
df.tail(3)

    name  age  book_authored
2   deng   24              2
3  achan   19             14
4    bol   18              8

# ðŸ“Œ Interactive Tasks
# Task 1: Import Practice
Try importing the libraries yourself. Copy this code and fill in the missing parts

In [7]:
# Import pandas with alias ___
import pandas as pd

# Import numpy with alias ___
import numpy as nsn

# Import matplotlib.pyplot with alias ___
import matplotlib.pyplot as plt

# Import seaborn with alias ___
import seaborn as nsn

# Test your imports
print("success!! all libraries imported correctly!")

success!! all libraries imported correctly!

# Task 2: Library Explanation
In your own words, explain what each library does:

1. pandas is like... (Example: pandas is like a super-smart spreadsheet program)

2. numpy is like... (short form for 'Numerical Python')is a powerful open-source Python library used primarily for numerical computing.

3. matplotlib is like...Matplotlib is a personal graphic designer who can turn boring numbers into beautiful charts and graphs.

4. seaborn is like... Seaborn is that artist's trendy assistant who makes
everything look magazine-ready.